.app{
    border: solid #400080;
    padding: 1em;
    font-size: medium
}

.icon{
    padding: 8px;
}

.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}